.container {
  padding-bottom: 40px;

  .spacer {
    flex: 1 1 auto;
  }
  .form-control,
  .select__control {
    border: 1px solid #000;
    background-color: #555;
    color: #fff;
    .select__placeholder {
      color: hsl(0, 0%, 65%);
    }
    .select__single-value {
      color: #fff;
    }
  }
  .search-control {
    margin: 0;
  }
  &:not(.mobile) {
    width: 1280px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 0 1.5vw;
  }
}

a,
a:hover {
  color: #e0b074;
}
a:visited,
a:active {
  color: #a77d58;
}
button.like-a-link {
  display: inline-block;
  padding: 0;
  cursor: pointer;
  color: #e0b074;
  background: inherit;
  outline: none;
  border: none;
  &:hover {
    text-decoration: underline;
  }
}
input {
  background-color: #555 !important;
  color: #fff;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.btn-reset {
  background-color: #734246;
  border-color: #734246;
}
