.container {
  padding-bottom: 40px;
  width: 1280px;

  .spacer {
    flex: 1 1 auto;
  }
  .form-control,
  .select__control {
    border: 1px solid #000;
    background-color: #555;
    color: #fff;
  }
  .search-control {
    margin: 0;
  }
}

a,
a:hover {
  color: #e0b074;
}
a:visited,
a:active {
  color: #806044;
}
input {
  background-color: #555 !important;
  color: #fff;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
