body {
  background: #2d2d2d;
  color: #ddd;
}

.table tr > td {
  border-top: 1px solid #444 !important;
}
.table tr > th {
  border-top: 1px solid #444 !important;
}
.table>thead>tr>th {
  border-bottom: 2px solid #555;
}
.form-control {
  border: 1px solid #000;
  background-color: #555;
  color: #fff;
}
input {
  background-color: #555;
  color: #fff;
}
a, a:hover {
  color: #e0b074;
}
a:visited, a:active {
  color: #806044;
}

.container {
  padding-bottom: 40px;
  width: 1280px;
}
.container > header {
  display: flex;
  height: 70px;
  align-items: center;
}
.container > header > h2 {
  flex: 1;
  margin: 0;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
td, th {
  vertical-align: middle !important;
}
.img-td {
  width: 96px;
}
.img-td > img {
  height: 60px;
  width: 80px;
}
.search-control {
  margin: 0;
}
.btn.apply {
  width: 100%;
}
.pp-input {
  display: inline;
  max-width: 40px;
  padding: 5px;
}
.min-max-head {
  width: 102px;
}
.length-head {
  width: 110px;
}
.mod-head {
  width: 70px;
}
.mod-head > select {
  padding: 5px;
}
.ow-head {
  width: 165px;
}
#show-more-div, #loading {
  text-align: center;
}
.time-pick {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 43px;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
}
.time-pick > input {
  border: none;
  width: 17px;
}
.minute {
  text-align: right;
}
.bpm {
  margin-right: 5px;
}
.slow {
  color: dodgerblue;
}
.fast {
  color: orangered;
}
