.fav-mappers {
  header {
    padding: 10px 0;
    .active {
      color: #ddd;
      cursor: text;
      font-weight: 500;
      text-decoration: none;
    }
  }
  .content {
    .main-table {
      > tbody > tr {
        border-bottom: 1px solid #444;

        > td {
          &.index {
            font-size: 70%;
            padding-right: 0.1em;
          }
          &.count {
            cursor: pointer;
            padding: 0.2em 0 0.2em 0;
            font-weight: bold;
            font-size: 120%;
          }
          &.expand {
            cursor: pointer;
            font-size: initial;
            padding: 0.2em 0.5em 0.2em 0.5em;
            > .btn {
              font-size: 120%;
              width: 1em;
              height: 1em;
              padding: 0;
              line-height: 1;
              color: black;
            }
          }
          &.line {
            cursor: pointer;
            width: 100%;
          }
          &.names {
            padding: 0.2em 0.3em 0.2em 0;
            a {
              > div {
                font-size: 60%;
                &:first-child {
                  font-size: 100%;
                }
              }
            }
          }
        }

        .loader-row {
          padding: 0.5em;
        }
        .sub-table {
          box-shadow: inset 0 -1.5em 1em -1.5em #222, inset 0 1.5em 1em -1.5em #1b1b1b;
          padding: 0.5em 1em;
          max-height: 20em;
          overflow-y: auto;
          overflow-x: hidden;
          width: 100%;
          &.mobile {
            table {
              table-layout: fixed;
              tr {
                .song-name {
                  font-size: 80%;
                  width: 50%;
                }
                .count {
                  width: 50%;
                }
              }
            }
          }
          table {
            table-layout: fixed;
            width: 100%;
            border-top: 1px solid #444;
            tr {
              border-bottom: 1px solid #444;
            }
            .song-name {
              padding: 0.2em 0;
              width: 35%;
            }
            .count {
              width: 65%;
              > .count-container {
                margin: 0.3em;
                > .count-line {
                  padding: 0.2em;
                  background: grey;
                  color: white;
                  font-weight: bold;
                }
                > .count-ranked-date {
                  padding-top: 0.4em;
                  font-size: 75%;
                  line-height: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}
