.show-more-div,
.loading {
  text-align: center;
}

.table {
  .active {
    border: 1px solid #00ffaa;
  }

  td,
  th {
    border-top: none !important;
    vertical-align: middle !important;
  }
  tr {
    border-bottom: 1px solid #444;
  }
  > thead > tr > th {
    border-bottom: 2px solid #555;
  }
  .img-td {
    text-align: right;
    width: 96px;
    > img {
      height: 60px;
      width: 80px;
    }
  }
  .genre-language {
    font-size: 14px;
    color: #bbb;
    .grey-title {
      color: #777;
    }
  }
  .btn.apply {
    width: 100%;
  }
  .pp-input {
    display: inline;
    max-width: 40px;
    padding: 5px;
  }
  .min-max-head {
    width: 102px;
  }
  .length-head {
    width: 110px;
  }
  .mod-head {
    width: 70px;
  }
  .mod-head > select {
    padding: 5px;
  }
  .ow-head {
    width: 165px;
  }
  .time-pick {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 43px;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }
  .time-pick > input {
    border: none;
    width: 17px;
  }
  .minute {
    text-align: right;
  }
  .bpm {
    margin-right: 5px;
  }
  .slow {
    color: dodgerblue;
  }
  .fast {
    color: orangered;
  }
  .select.genre {
    margin-right: 15px;
  }
  .select {
    width: 272px;
    font-size: 12px;
    .select__control {
      min-height: 30px;
    }
    .select__menu {
      margin-top: 1px;
      background-color: #555;
      color: #fff;
      .select__menu-list {
        max-height: 320px;
      }
      .select__option--is-focused {
        background-color: #999;
      }
    }
    .select__indicators {
      .select__indicator-separator {
        background-color: #999;
      }
      .select__clear-indicator,
      .select__dropdown-indicator {
        width: 22px;
        padding: 3px;
      }
    }
    .select__multi-value__label {
      font-size: 100%;
      padding: 2px 2px 2px 6px;
    }
    .select__multi-value__remove {
      color: #777;
      &:hover {
        color: #de350b;
      }
    }
  }
}
