.rankings {
  .-pagination .-btn {
    color: #ccc;
    border: 1px solid #444;
  }
  .rt-td {
    .pp {
      font-weight: bold;
    }
    .pp-diff {
      color: #666;
    }
    .rank {
      display: flex;
      align-items: center;
      span {
        flex: 0 0 16px;
        text-align: center;
        display: inline-block;
      }
      &.rank-small-change {
        span {
          font-size: 60%;
        }
      }
    }
    .pp-change,
    .rank-same {
      color: cornflowerblue;
    }
    .pp-change.positive,
    .rank-up {
      color: green;
    }
    .pp-change.negative,
    .rank-down {
      color: orangered;
    }
  }
}

.ReactModalPortal {
  .old-pp {
    color: #555;
  }
  .new-pp {
    font-size: 105%;
    font-weight: bold;
  }
  .weighted-pp {
    color: #777;
  }
  .added-pp {
    color: green;
  }
  .subtracted-pp {
    color: orangered;
  }
  .notchanged-pp {
    color: cornflowerblue;
  }
  .rt-th {
    text-align: left;
  }
  .rt-td {
    white-space: normal;
  }
}
