.top-bar {
  align-items: center;
  border-bottom: 1px solid #444;
  display: flex;
  min-height: 80px;
  .vertical-menus {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    padding: 3px 0;
    margin-bottom: 6px;
    nav {
      height: 40px;
      ul > li:first-child > a {
        margin-left: 0;
      }
    }
  }
  .loader-text {
    margin-right: 10px;
    opacity: 0;
    transition: opacity 2s;
    &.loading {
      opacity: 1;
    }
  }
  .author {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    span {
      margin-right: 7px;
    }
    .icon {
      width: 26px;
      height: 26px;
      margin-right: 7px;
    }
  }
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    .pp-word {
      color: #fff;
      font-size: 28px;
      cursor: default;
    }
    > li > a {
      color: #555;
      font-size: 28px;
      margin: 7px;
      &.active {
        color: #fff;
        pointer-events: none;
        cursor: default;
      }
      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
    > li + li::before {
      font-size: 28px;
      color: #555;
      content: '•';
    }
  }
}
