$overlay-border: #eee;
$overlay-top-border: #fff;
$color-background-base: #333;
$overlay-arrow-top-width: 10px;

.inner-popper-overlay {
  background: #555;
  border-bottom: 1px solid $overlay-border;
  border-left: 1px solid $overlay-border;
  border-radius: 4px;
  border-right: 1px solid $overlay-border;
  border-top: 3px solid $overlay-top-border;
  z-index: 3;

  &.out-of-bounds {
    display: none;
  }

  &.arrow-top,
  &.arrow-bottom,
  &.arrow-left,
  &.arrow-right {
    .arrow-hider {
      background: transparent;
      overflow: hidden;
      position: absolute;
    }
    .arrow {
      border: solid transparent;
      border-width: $overlay-arrow-top-width;
      bottom: 100%;
      content: ' ';
      height: 0;
      pointer-events: none;
      position: absolute;
      width: 0;
    }
  }

  &.arrow-top,
  &.arrow-bottom {
    .arrow-hider {
      height: ($overlay-arrow-top-width * 2);
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  &.arrow-left,
  &.arrow-right {
    .arrow-hider {
      bottom: 0;
      height: 100%;
      top: 0;
      width: ($overlay-arrow-top-width * 2);
    }
  }

  &.arrow-bottom {
    border-bottom: 3px solid $overlay-top-border;
    border-top: 1px solid $overlay-border;
    .inner-popper-content {
      border-radius: 5px 5px 0 0;
    }
    .arrow-hider {
      bottom: (-$overlay-arrow-top-width * 2);
    }
    .arrow {
      border-top-color: $overlay-top-border !important;
      bottom: 0 !important;
    }
  }

  &.arrow-top {
    margin-top: 10px;
    .inner-popper-content {
      border-radius: 0 0 5px 5px;
    }
    .arrow-hider {
      top: (-$overlay-arrow-top-width * 2);
    }
    .arrow {
      border-bottom-color: $overlay-top-border;
      margin-left: 0 - $overlay-arrow-top-width;
      top: 0;
    }
  }

  &.arrow-right {
    border-right: 3px solid $overlay-top-border;
    border-top: 1px solid $overlay-border;
    margin-right: 10px;
    .inner-popper-content {
      border-radius: 5px 0 0 5px;
    }
    .arrow-hider {
      right: (-$overlay-arrow-top-width * 2);
    }
    .arrow {
      border-left-color: $overlay-top-border;
      right: 0;
    }
  }

  &.arrow-left {
    border-left: 3px solid $overlay-top-border;
    border-top: 1px solid $overlay-border;
    .inner-popper-content {
      border-radius: 0 5px 5px 0;
    }
    .arrow-hider {
      left: (-$overlay-arrow-top-width * 2);
    }
    .arrow {
      border-right-color: $overlay-top-border;
      left: 0;
    }
  }

  > .bottom {
    background: $color-background-base;
    border-top: 1px solid $overlay-border;
    margin-top: 10px;
    overflow: hidden;
    padding: 10px 20px;
  }
}

.overlay-item-link.-inline {
  display: inline;
}
