.top-mappers {
  header {
    padding: 10px 0;
    .active {
      color: #ddd;
      cursor: text;
      font-weight: 500;
      text-decoration: none;
    }
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .top-list {
    .collapsible-bar {
      .place-number {
        color: #555;
      }
      .header {
        padding: 8px;
      }
      &.top {
        .header {
          padding: 3px 8px 3px 8px;
        }
        .title {
          font-size: 26px;
          span {
            line-height: 1em;
          }
          img {
            height: 44px;
            margin-left: 15px;
          }
        }
      }
      .title {
        align-items: center;
        display: flex;
        margin-left: 6px;
        font-size: 20px;
      }
      .collapse-button {
        font-size: 14px;
        width: 20px;
        text-align: center;
        margin: 0;
      }
    }
  }
  .map-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
    &.header-row {
      border-bottom: 1px solid #3a3a3a;
      .overweightness {
        white-space: nowrap;
      }
    }
    .text {
      flex: 0 0 50%;
    }
    .pp {
      flex: 0 0 90px;
    }
    .overweightness {
      flex: 0 0 90px;
      font-weight: bold;
    }
    .graph {
      height: 22px;
      flex: 1 1 auto;
      > .inner-graph {
        height: 100%;
        background-color: #888;
      }
    }
  }
}
